#main-header {
    background: pink;
    min-height: 35px;
}

#main-header .logo,
#main-header .tagline {
    float: left;
    margin: 5px 10px;
}

#main-header nav {
    float: right;
}

#main-header .logo{
    background: red !important;
    position: relative;
}

#main-header .logo:after {
    
    position:absolute;
    top: 10px;
    left: 100px
}

.bouton {
    border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:1px 1px 3px #aaa;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
}
